<launch>
	<arg name="stereo" default="stereo"/>
	<arg name="left_guid" default="50-0503343289"/>
	<arg name="right_guid" default="50-0503343290"/>
	
  	<node ns="$(arg stereo)" name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen"/>

	<node name="$(arg stereo)" pkg="avt_vimba_camera" type="stereo_camera_node" output="screen">

		<!-- Static params -->
		<param name="left_guid" value="$(arg left_guid)"/>
		<param name="right_guid" value="$(arg right_guid)"/>
		<param name="left_camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_$(arg left_guid).yaml"/>
		<param name="right_camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_$(arg right_guid).yaml"/>

		<param name="show_debug_prints" value="false"/>
		<!--rosparam command="load" file="$(find avt_vimba_camera)/params.yaml"/-->
	</node>

</launch>

